<!-- <app-firstcomponent/> -->



<!-- 
 <div style="display: block; background-color: red; color: white;">

  <h1>Angular class</h1>
  <p> {{title}}</p>
</div>

<div [ngStyle]="{color: this.c}">
  Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quas, dignissimos? Dolores, exercitationem quibusdam at iusto, deleniti eum recusandae ipsa, architecto sint consequatur autem ad obcaecati molestias possimus nobis. Facere, maxime?
</div>

<div [ngClass]="{'inactive': this.box}">
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur, eum.
</div>

<p class="text-danger ">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dolorum delectus commodi in. Asperiores assumenda laudantium fugiat? Sunt dolore sit ipsum, possimus deleniti labore doloribus ab maiores odio neque. Distinctio, repellat.</p>  -->

 <!-- <div>
  <h1 [class.inactive]="this.box?true:false"> Economics</h1>
</div> 

<button (click)="changeBox()"> Change Box</button>
<button [disabled]="this.box?false:true"> check</button>
<p>{{ this.box?'Welcome':''}}</p>

<div *ngIf="this.box">Lorem ipsum dolor sit amet.</div>

<p>{{this.lastname}}</p>
<p>{{objone.address}}</p>

<div class="container col-lg-6 col-10 mt-5 shadow p-6">
  <h1>King's Notepad</h1>
  <input type="text" placeholder="Notepad" class="form-control" [(ngModel)]="tit"> <br>
  <textarea name="" id="" class="form-control" [(ngModel)]="content"></textarea><br>
  <button (click)="note()"> Note</button>
</div> -->




<!-- <app-navbar/>
<app-hero/> -->
<router-outlet />
